<main>
 <p><div class="container">
   <% if flash[:notice] %>
    <div class="flash">
         <%= flash[:notice] %>
    </div>
   <% end %></p>

   <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
     <h1>Marriage Ceremony</h1>
     <h2><%= link_to "Please come to the information", about_path, class:"btn btn-info btn-sm btn-block mb-3 sign_in" %></h2>
    </div>
   </div>
</main>